# Merging Data avec Pandas

### Importer pandas

In [2]:
import pandas as pd

### Importer les dataset & renommer la colonne `Branding` du dataset `android_devices.csv`

### Afficher vos data

In [6]:
user_usage = pd.read_csv('../DATA/user_usage.csv')
user_usage.head()
#df1 = pd.read_csv('../DATA/user_usage.csv')
#df1.head()

   outgoing_mins_per_month  outgoing_sms_per_month  monthly_mb  use_id
0                    21.97                    4.82     1557.33   22787
1                  1710.08                  136.88     7267.55   22788
2                  1710.08                  136.88     7267.55   22789
3                    94.46                   35.17      519.12   22790
4                    71.59                   79.26     1557.33   22792

In [9]:
user_device = pd.read_csv('../DATA/user_device.csv')
user_device.head()
#df2 = pd.read_csv('../DATA/user_device.csv')
#df2.head()

   use_id  user_id platform  platform_version     device  use_type_id
0   22782    26980      ios              10.2  iPhone7,2            2
1   22783    29628  android               6.0    Nexus 5            3
2   22784    28473  android               5.1   SM-G903F            1
3   22785    15200      ios              10.2  iPhone7,2            3
4   22786    28239  android               6.0  ONE E1003            1

In [12]:
devices = pd.read_csv('../DATA/android_devices.csv')
devices.head()
#df3 = pd.read_csv('../DATA/android_devices.csv')
#df3.head()

  Retail Branding Marketing Name    Device                      Model
0             NaN            NaN    AD681H  Smartfren Andromax AD681H
1             NaN            NaN     FJL21                      FJL21
2             NaN            NaN       T31              Panasonic T31
3             NaN            NaN  hws7721g         MediaPad 7 Youth 2
4              3Q        OC1020A   OC1020A                    OC1020A

In [14]:
devices.rename(columns={'Retail Branding':'Manufacturer'}, inplace=True)
devices.head(10)

,Manufacturer,Marketing Name,Device,Model
0,NaN,NaN,AD681H,Smartfren Andromax AD681H
1,NaN,NaN,FJL21,FJL21
2,NaN,NaN,T31,Panasonic T31
3,NaN,NaN,hws7721g,MediaPad 7 Youth 2
4,3Q,OC1020A,OC1020A,OC1020A
5,7Eleven,IN265,IN265,IN265
6,A.O.I. ELECTRONICS FACTORY,A.O.I.,TR10CS1_11,TR10CS1
7,AG Mobile,AG BOOST 2,BOOST2,E4010
8,AG Mobile,AG Flair,AG_Flair,Flair
9,AG Mobile,AG Go Tab Access 2,AG_Go_Tab_Access_2,AG_Go_Tab_Access_2

In [96]:
# merger les cols commune. on a les 1ers elem de df1, et les 3 cols commune sont ds df2.
df_new = df1.merge(df2[['use_id','platform','device']])
df_new.head()
#[[]]: sous datafrmae, uniquement des cols
#si les cols ne sont pas string ou entre crochet ca ne marche jamais

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device
0,21.97,4.82,1557.33,22787,android,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F
2,1710.08,136.88,7267.55,22789,android,SM-G930F
3,94.46,35.17,519.12,22790,android,D2303
4,71.59,79.26,1557.33,22792,android,SM-G361F

### Afficher la `shape` de vos dataset ainsi que celle du dataset de sortie

In [97]:
print("user_usage dimensions:",df1.shape)
print("user_device dimensions:",df2.shape)
#print(df3.shape)
print("result dimensions:",df_new.shape)

user_usage dimensions: (240, 4)
user_device dimensions: (272, 6)
result dimensions: (159, 6)

### Afficher via `value_counts` les `use_id` présent dans le nouveau dataset ainsi que ceux non présent

In [98]:
# valeur total de cette col
df_new['use_id'].notna().value_counts()

True    159
Name: use_id, dtype: int64

In [99]:
df_new['use_id'].isin(df1['use_id']).value_counts()
df1['use_id'].isin(df_new['use_id']).value_counts()

True     159
False     81
Name: use_id, dtype: int64

In [ ]:
df1.use_id.isin(m1.use_id.values).value_counts()
# .values n'est pas nécessaire

### Le left merge

Afficher la `shape` du dataset `user_usage`, celle du dataset de sortie ainsi que les valeurs manquantes.

In [127]:
print("user_usage imensions:",df1.shape)

df_new2= pd.merge(df1,df2[['use_id','platform','device']],on='use_id',how='left')
# df_new2= pd.merge(df1,df2[['use_id','platform','device']],'left')


print("result dimensions:", df_new2.shape)

#missing value est ds les cols que j'ai rejouté, il apparait pas dans 
#le df1 et df_new, car ici i y a les valeurs communes. Donc les missing
#sont ds les cols apart ces 2 là.
print(df_new2['use_id'].isna().value_counts())
#use_id, a tout les valeurs. donc on met une autre col ds les 3 qu'on 
#rajouté.

print(df_new2['device'].isna().value_counts())

#shape:donne nbre ligne et col et ici je veux juste la ligne donc 
#on mat shape[0]
# m2 est pr Maelle: je met mon dataframe{m2[m2.platform.shape[0]}

#print("There are",(df_new['use_id'].isnull().value_counts()),"missing values in the result.")

user_usage imensions: (240, 4)
result dimensions: (240, 6)
False    240
Name: use_id, dtype: int64
False    159
True      81
Name: device, dtype: int64

### Afficher votre dataset

In [111]:
df_new.head()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device
0,21.97,4.82,1557.33,22787,android,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F
2,1710.08,136.88,7267.55,22789,android,SM-G930F
3,94.46,35.17,519.12,22790,android,D2303
4,71.59,79.26,1557.33,22792,android,SM-G361F

### Le right merge

Afficher la `shape` du dataset `user_device`, celle du dataset de sortie ainsi que les valeurs manquantes des colonnes `monthly_mb` et `platform`.

In [114]:
print("user_device dimensions:",df2.shape)
#user_device.shape()
#pd.isna(df['monthly_mb','platform'])
print("result dimensions:",df_new.shape)

user_device dimensions: (272, 6)
result dimensions: (159, 6)